In [1]:
import findspark
import os
spark_home = r"C:\Program Files\spark-3.2.0-bin-hadoop3.2"
python_path = r"C:\Users\fywud\anaconda3\envs\pyspark_python\python"
findspark.init(spark_home,python_path)
import pyspark 
from pyspark import SparkContext, SparkConf

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("test") \
        .config("master","local[4]") \
        .enableHiveSupport() \
        .getOrCreate()

sc = spark.sparkContext

In [4]:
data = [1,5,7,10,23,20,6,5,10,7,10]
dfdata = spark.createDataFrame([(x,) for x in data]).toDF("value")

In [26]:
from pyspark.sql import functions as F 
data = [1,5,7,10,23,20,6,5,10,7,10]
dfdata = spark.createDataFrame([(x,) for x in data]).toDF("value")
sum_val = dfdata.agg(F.mean("value").alias("mean_value"))
sum_val.show()

+-----------------+
|       mean_value|
+-----------------+
|9.454545454545455|
+-----------------+

In [31]:
#任务：求data的平均值
data = [1,5,7,10,23,20,6,5,10,7,10]

dfdata = spark.createDataFrame([(x, 1) for x in data]).toDF("key", "value")
dfcount = dfdata.groupby("key").agg(F.count("value").alias("count"))
dfcount.show()

+---+-----+
|key|count|
+---+-----+
|  5|    2|
|  1|    1|
|  7|    2|
| 10|    3|
| 23|    1|
| 20|    1|
|  6|    1|
+---+-----+

In [36]:
max_count = dfcount.agg(F.max("count").alias("max_count")).take(1)[0]["max_count"]
max_count

3

In [40]:
dfmode = dfcount.where(dfcount["count"] == max_count)
dfmode.show()

+---+-----+
|key|count|
+---+-----+
| 10|    3|
+---+-----+

In [42]:
res = dfmode.agg(F.mean("key").alias("ave_key")).take(1)[0]["ave_key"]
res

10.0

In [43]:
students = [("LiLei",18,87),("HanMeiMei",16,77),("DaChui",16,66),("Jim",18,77),("RuHua",18,50)]
n = 3

In [44]:
dfstu = spark.createDataFrame(students).toDF("name","age","score")
dfstu.show()

+---------+---+-----+
|     name|age|score|
+---------+---+-----+
|    LiLei| 18|   87|
|HanMeiMei| 16|   77|
|   DaChui| 16|   66|
|      Jim| 18|   77|
|    RuHua| 18|   50|
+---------+---+-----+

In [48]:
dftopn = dfstu.orderBy("score", ascending=False).limit(n)
dftopn.show()

+---------+---+-----+
|     name|age|score|
+---------+---+-----+
|    LiLei| 18|   87|
|HanMeiMei| 16|   77|
|      Jim| 18|   77|
+---------+---+-----+